# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
.metadata
migrate_working_dir/
lib/core/secrets.dart

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.env
.packages

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties
ios/Flutter/Generated.xcconfig

# Android-specific
.gradle/
android/.kotlin/
android/app/google-services.json
android/app/key.properties
android/app/src/main/res/values/google-services.xml
*.keystore
*.jks

# iOS-specific
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Pods/
ios/.symlinks/
ios/Flash/

# macOS-specific
macos/Flutter/ephemeral/
macos/Pods/

# Linux-specific
linux/flutter/ephemeral/

# Windows-specific
windows/flutter/ephemeral/

# Web-specific
.dart_tool/chrome-device/

# Supabase / Env
.env*
!.env.example
